body {
    background-color: whitesmoke;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/sky-bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.hero-text {
    color: white;
    text-align: right;
    padding-right: 450px;
    padding-top: 300px;
}

#toggle-button {
    display: none;
}

@media only screen and (max-width:991px) {   
    #toggle-button {
        display: flex;
    }
    #hidden {
        display: none;
    }
}